[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
toolz = "*"
colorama = "*"
brigit = {git = "git://github.com/Kozea/brigit.git"}
pyrecord = "*"
python-gitlab = "*"
parmapper = {git = "https://github.com/Jwink3101/parmapper"}

[requires]
python_version = "3.7.3"
